body {
  font-family: serif;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 20px;
  }
  .reservation-section {
    padding: 60px 0;
  }
  .reservation-section h2 {
    text-align: center;
    margin-bottom: 25px;
  }
  .reservation-form {
    max-width: 500px;
    margin:  auto;
  }
  .form-group label {
    font-weight: bold;
  }
  .form-group input {
    width: 100%;
  }
  .form-group button {
    margin-top: 20px;
  }
  .jumbotron {
    justify-content: center;
    align-items: center;
    color: #00aeff;
  }
  .jumbotron h1 {
    font-size: 60px;
    text-shadow: 2px 2px #1E416C;
  }
  .jumbotron p {
    font-size: 30px;
    text-shadow: 0 2px #00aeff;
  }
  .navbar {
    background: linear-gradient(to right, #00d9ff, #1E416C); 
  }
  button[type="submit"] {
  background-color: #1E416C;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }
  button[type="submit"]:hover {
  background-color: #03ffdd;
  }
  input[type="text"],
  input[type="email"],
  input[type="time"],
  input[type="date"],
  input[id="telefono"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #00ffff;
  border-radius: 4px;
  }
  footer {
    background: linear-gradient(to right, #00d9ff, #1E416C); 
    color: #fff; /* color de letra */
  }